<% title "Registered Pilots" %>

<table>
  <tr>
    <th>Pilot</th>
    <th>Championship</th>
  </tr>
  <% for registered_pilot in @registered_pilots %>
    <tr>
      <td><%= registered_pilot.pilot_id %></td>
      <td><%= registered_pilot.championship_id %></td>
      <td><%= link_to "Show", registered_pilot %></td>
      <td><%= link_to "Edit", edit_registered_pilot_path(registered_pilot) %></td>
      <td><%= link_to "Destroy", registered_pilot, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Registered Pilot", new_registered_pilot_path %></p>
