<% title "Registered Pilot" %>

<p>
  <strong>Pilot:</strong>
  <%= @registered_pilot.pilot_id %>
</p>
<p>
  <strong>Championship:</strong>
  <%= @registered_pilot.championship_id %>
</p>

<p>
  <%= link_to "Edit", edit_registered_pilot_path(@registered_pilot) %> |
  <%= link_to "Destroy", @registered_pilot, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", registered_pilots_path %>
</p>
