<% title @championship.name %>
<p>
  <%= @championship.dates %>
</p>
<p>
  <%= @championship.description %>
</p>

<%= render :partial => 'result' %>

<p>
  <%= link_to "Edit", edit_championship_path(@championship) %> |
  <%= link_to "Destroy", @championship, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", championships_path %>
</p>