<%= form_for @race do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :championship_id %><br />
    <%= f.text_field :championship_id %>
  </p>
  <p>
    <%= f.label :track_id %><br />
    <%= f.text_field :track_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p><%= f.submit %></p>
<% end %>
