<% title @pilot.name %>
<p>
  <%= link_to "#{@pilot.team.name}", team_path(@pilot.team) %>
</p>
<p>
  <strong>Active:</strong>
  <%= @pilot.active %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag @pilot.picture, :title => "title", :class => "class" if @pilot.picture %>
</p>

<%= render :partial => 'results' %>

<p>
  <%= link_to "Edit", edit_pilot_path(@pilot) %> |
  <%= link_to "Destroy", @pilot, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pilots_path %>
</p>
